/*-------------------------*\
$COLORS
\*-------------------------*/

$color-yellow: #f7cd09;
$color-pink: #c5165b;

/*-------------------------*\
$FONTS
\*-------------------------*/

$font-tittle: "Open Sans", sans-serif;
$font-body: "Nunito", sans-serif;
