header {
  div {
    display: flex;
    justify-content: space-between;
  }

  img {
    width: 250px;
    height: 100px;
  }
}

.font {
  font-family: Metropolis;
  font-size: 22px;
}

.imagen {
  width: 200px;
}

.margintable {
  margin-left: 217px;
  margin-top: 50px;
  width: 1026px;
}

.carousel-juntas {
  height: 500px;
}
