@import "./home.scss";
@import "./variables";
@import "./loan";
@import "./mixins";
* {
  margin: 0px;
  padding: 0px;
}

.font {
  @include font;
}

.font-title {
  @include fonttitle;
}
.btn-pink {
  @include btnpink;
}

.btn-pink-link {
  @include btnpinklink;
}

.btn-yellow {
  @include btnyellow;
}

.color-yellow {
  @include coloryellow;
}

.input {
  @include input;
}

.row-yellow {
  @include rowyellow;
}

.ml-1000 {
  @include alignleft(70%);
}

.mr-1000 {
  @include alignright(70%);
}

.ml {
  margin-left: 25%;
}

.hover {
  text-decoration: none;
  color: white;
}
