@import "./home.scss";
@import "./variables";
@import "./loan";
@import "./mixins";
* {
  margin: 0px;
  padding: 0px;
}

.font {
  @include font;
}

.font-light {
  @include fontlight;
}
.btn-pink {
  @include btnpink;
}

.btn-pink-link {
  @include btnpinklink;
}

.btn-yellow {
  @include btnyellow;
}

.input {
  @include input;
}

.row-yellow {
  @include rowyellow;
}
.table-yellow {
  @include tableyellow;
}
.btn-yellow-link {
  @include btnyellowlink;
}
.ml-1000 {
  @include alignleft(65%);
}

.mr-1000 {
  @include alignright(70%);
}
.mb-1000 {
  @include alignbottom(10%);
}

.h3ColorFuc {
  @include h3ColorFuc;
}
.mr-table {
  @include mrtable;
}
.aReq {
  @include aReq;
}
.td-li {
  @include tdli;
}
.ml {
  margin-left: 25%;
}

.hover {
  text-decoration: none;
  color: white;
}

.color-white {
  background: white;
}

.text-pink {
  color: #c5165b;
}

.color-yellow {
  background-color: #ffd200;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.error {
  color: red;

  @include alignleft(50%);
}

.btnColorTrash {
  background: transparent;
  border: none;
  margin-bottom: 2px;
}

.btn-plus {
  padding-top: 11px;
}

.ml-10 {
  margin-left: 72%;
}

.check {
  width: 20px;
  height: 40px;
  background: white;
  color: white;
  border: 3px solid #c5165b;
  margin-right: 7px;
}

.detail {
  border-radius: 10px;
  border: 3px solid #c5165b;
  width: 60%;
}
